* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    /* font-family: "source-sans-pro"; */
    -webkit-font-smoothing: antialiased;
    background: rgb(243,244,246);
}

.wrapper {
    width: 1130px;
    margin: auto;
    position: relative;
    /* padding: 1rem 0rem 0rem 0rem; */
}

/* .logo {
    height: 10px;
    float: left;
} */

.menu {
    float: right;
    font-family: arial;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    /* position: sticky;
    position: -webkit-sticky; */
    top: 0;
    background: rgb(243,244,246);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    padding-right: 40px;
}

nav ul li a {
    font-family: "arial";
    color: #949EB2;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    font-family: "Palatino Linotype", serif;
    font-size: 4.8vw;
    font-weight: lighter;
    padding: 2vw 12vw 3vw 12vw;
    justify-content: center;
    text-align: center;
    color: #38404F;
}

h4{
    font-size: 1.6vw;
    color: #778298;
    justify-content: center;
    font-family: sans-serif;
    font-weight: lighter;
    padding : 2vw 21vw 3vw 21vw;
    line-height: 1.65;
    /* margin: 30px 100px 50px 100px; */
    /* align-items: center; */
    text-align: center;
}

.home{
    margin: auto;
}

form {
    height: 50px;
    /* width: 500px; */
    border-radius: 5px;
    margin: 0px 350px 0px 350px;
    background-color: #fff;
    display: flex;
    /* width: : fit-content; */
}

form input {
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    padding: 20px;
    width: 100%;
    /* height: 40px; */
    /* width: 400px; */
    font-size: 16px;
}

form button{
    background: #65D777;;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* margin: 0px 250px; */
    border: none;
    /* outline: none; */
    height: 50px;
    width: 170px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

